{% extends 'TPCoreBundle::layout.html.twig' %}

{% block title %}
    Annonces - {{ parent() }}
{% endblock %}

{% block presentation %}
    <h1>Plateforme d'annonces d'emploi</h1>
{% endblock %}

{% block plateformes %}
    <h3>Les plateformes</h3>
    <ul class="nav nav-pulls nav-stacked">
        <li><a href="{{ path('tp_core_homepage') }}">Accueil</a></li>
        <li><a href="{{ path('oc_platform_home') }}">Annonces d'emplois</a></li>
        <li><a href="">Forum</a></li>
    </ul>
{% endblock %}

{% block rubriques %}
    <h3>Les annonces</h3>
    <ul class="nav nav-pulls nav-stacked">
        <li><a href="{{ path('oc_platform_home') }}">Accueil</a></li>
        <li><a href="{{ path('oc_platform_add') }}">Ajouter une annonce</a></li>
    </ul>
{% endblock %}

{% block body %}

    <h1>Annonces</h1>

    <hr>
    {% block ocplatform_body %}
    {% endblock %}

{% endblock %}
